<footer class="max-w-7xl px-4 sm:px-6 mt-16 md:mt-24">
    <div class="flex flex-col items-center justify-center border-y">
        <div class="me flex flex-row items-center gap-48 py-6">
            <div class="details hidden md:inline-block">
                <div class="flex gap-4 items-center">
                    <img src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667496959/personal-website/gmail-icon.svg"
                        class="h-6 w-6" alt="">
                    <p class="font-light text-sm">prannaykedia1@gmail.com</p>
                </div>
                <div class="flex gap-4 items-center">
                    <img src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667496959/personal-website/phone-icon.svg"
                        alt="" class="h-6 w-6">
                    <p class="font-light text-sm">+91 85840 11454</p>
                </div>
            </div>
            <div class="pk font-extrabold text-5xl">
                <h1>PK</h1>
            </div>
            <div class="hidden items-center gap-5 md:flex social-media-links text-3xl">
                <a href="https://linkedin.com/in/prannay-kedia" class="hover:text-indigo-600">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="https://twitter.com/kediaprannay/" target="_blank" class="hover:text-indigo-600">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://www.prannaykedia.com" class="hover:text-indigo-600">
                    <i class="fa-brands fa-safari"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <p class="mx-auto font-thin text-xs py-5">© Prannay Kedia. Made with ❤️ in 2022</p>
    </div>
</footer>

<script src="../assets/js/index.js"></script>