---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
import BlogsEmptyState from "../components/BlogsEmptyState.astro";
import AllBlogs from "../components/AllBlogs.astro";
import { getCollection } from "astro:content";
export const prerender = true;

const posts = await getCollection("blogs");
const tags = await getCollection("tags");
const sortedPosts = posts.sort((a, b) => {
  const dateA = a.data.publishedDate || a.data.createdDate;
  const dateB = b.data.publishedDate || b.data.createdDate;
  return new Date(dateB).getTime() - new Date(dateA).getTime();
});
---

<Layout title="Blogs | Prannay Kedia">
  <PageHeading>
    <p>{"My "}<br class="md:hidden" />{"Musings"}</p>
  </PageHeading>

  {
    posts === undefined || posts.length === 0 ? (
      <BlogsEmptyState />
    ) : (
      <AllBlogs posts={sortedPosts} tags={tags} client:load />
    )
  }
</Layout>
