---
import { fetchPages } from "../services/notion";
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
import BlogsEmptyState from "../components/BlogsEmptyState.astro";
import AllBlogs from "../components/AllBlogs.astro";
import type { BlogCardInterface } from "../components/BlogCard.astro";
export const prerender = true;

const fetchedPosts = await fetchPages();
const posts = [] as BlogCardInterface[];

fetchedPosts.results.forEach((item) => {
  posts.push({
    slug: item.properties.Slug.url,
    date: item.properties["Published Date"].date.start,
    image: item.cover
      ? item.cover.external
        ? item.cover.external.url
        : item.cover.file.url
      : null,
    title: item.properties.Title.title[0].plain_text,
    excerpt:
      item.properties.Excerpt.rich_text[0] == undefined
        ? ""
        : item.properties.Excerpt.rich_text[0].plain_text,
  });
});
---

<Layout title="Blogs | Prannay Kedia">
  <PageHeading>
    <p>My <br class="md:hidden" />Musings</p>
  </PageHeading>

  {
    posts === undefined || posts.length === 0 ? (
      <BlogsEmptyState />
    ) : (
      <AllBlogs posts={posts} />
    )
  }
</Layout>
