---
import { ghostClient } from "../services/ghost";
import type { PostsOrPages } from "@tryghost/content-api";
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
import BlogsEmptyState from "../components/BlogsEmptyState.astro";
import AllBlogs from "../components/AllBlogs.astro";
export const prerender = true;

const posts = (await ghostClient.posts
  .browse({
    limit: "all",
    include: ["tags"],
  })
  .catch((err) => {
    console.error(err);
  })) as PostsOrPages;
---

<Layout title="Blogs | Prannay Kedia">
  <PageHeading>
    <p>My{" "}<br class="md:hidden" />{"Musings"}</p>
  </PageHeading>

  {
    posts === undefined || posts.length === 0 ? (
      <BlogsEmptyState />
    ) : (
      <AllBlogs posts={posts} />
    )
  }
</Layout>
