---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
import Connect from "../components/Connect.astro";
import Contact from "../components/Contact";
---

<Layout title="Contact Me | Prannay Kedia">
  <PageHeading>
    <h1>Contact Me</h1>
  </PageHeading>
  <div class="text-center">
    <p class="mt-4 text-lg font-normal leading-6 text-gray-500"
      >Want to talk? Send me a message and I'll get back to you in 2 day's time</p
    >
  </div>

  <Contact client:load />

  <Connect>
    <p>Or</p>
  </Connect>
</Layout>
