---
export const prerender = true;

import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
import FilmCard from "../components/FilmCard.astro";
import { films } from "../data/films";
---

<Layout title="Film Making | Prannay Kedia">
  <PageHeading>
    <h1>Film Making</h1>
  </PageHeading>

  <main class="flex flex-col items-center gap-12 lg:px-24 md:px-24 mt-20">
    {
      films.map((film) => (
        <FilmCard
          youtubeLink={film.youtubeLink}
          title={film.title}
          about={film.about}
        />
      ))
    }
  </main>
</Layout>
