---
import Layout from "../layouts/Layout.astro";
import PageHeading, { Banner } from "../components/PageHeading.astro";
export const prerender = true;

interface Props {
  banner: Banner;
}

const banner = {
  link: "",
  linkUrl: "www.flirtaid.social",
  bannerImg:
    "https://res.cloudinary.com/dg24rzjez/image/upload/v1667501321/personal-website/projects/flirtaid/banner.png",
};
---

<Layout title="FlirtAid | Prannay Kedia">
  <PageHeading banner={banner}>
    <h1>FlirtAid</h1>
  </PageHeading>

  <section
    class="content mt-8 md:mt-16 lg:px-44 md:px-44 px-6 leading-7 font-normal text-base flex flex-col gap-8">
    <p class="intro indent-16">
      It had been a month since my work at Aggregate Terminal had come to a
      halt. I was looking to try my hand out at something new and have fun in
      the process. Lockdown 3.0 was in full swing and things were becoming
      bleaker by the day. It was then that 2 of my friends and I decided that it
      was high time that our university got its very own dating app. With that
      thought in mind, we came up with <strong
        >FlirtAid - Your Very Own Loveguru.</strong
      >
    </p>
    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">What is FlirtAid?</h2>
      <p>
        We knew that we wanted to build a dating app, but had to figure out what
        was missing in the dating market. What were the burning issues that
        dissuade people from signing up to dating apps? Hence, to dig deeper, we
        did a survey in college which saw 303 participants. Here are the results
        of the survey:
      </p>
      <div class="image flex flex-col gap-2 items-center justify-center">
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667502578/personal-website/projects/flirtaid/survey1.png"
          alt=""
          class="md:w-1/2"
        />
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667502578/personal-website/projects/flirtaid/survey2.png"
          alt=""
          class="md:w-2/3"
        />
      </div>
      <p
        >There were 3 major problems which people faced when it came to dating
        apps:</p
      >
      <ol class="list-decimal px-12">
        <li>Females received a number of creepy & lewd messages</li>
        <li
          >Males felt that they didn’t have good enough pictures to add to their
          profiles</li
        >
        <li>Fake profiles were a problem that plagued both genders equally</li>
      </ol>
      <p
        >We set out to solve all these issues and build a dating app which every
        student on campus would want to use. FlirtAid - JU’s very own love guru:</p
      >
      <ul class="list-disc px-12">
        <li
          >Precise signal system embedded in the chat to filter out creepy
          messages.</li
        >
        <li>Match percentage to predict if they are the one for you.</li>
        <li
          >Face matching AI to ensure that there are no fake profiles to break
          your heart mercilessly.</li
        >
      </ul>
    </div>
    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">The Development</h2>
      <p>
        With the basics in place, we started the development of FlirtAid. To
        develop the app, I on-boarded 2 people from my campus. This is where one
        of my biggest learnings from the project began. I led the team of
        developers through the whole process of development. The first step of
        building was to chalk-out a product development timeline. This included
        the feature, its user interface design, approximate timeline for the
        front-end development and a schedule for the backend development. The
        whole development process took about 1.5 months. There were multiple
        iterations of the user interface design, hours of bug testing and
        hundreds of lines of code written, and we finally ended up with an app
        that we could be proud of to ship to the world.
      </p>
      <div class="list">
        <p>The development came with its own set of challenges:</p>
        <ul class="list-disc px-12">
          <li
            >One of our developers decided to leave the project mid-way. After
            an intense and long discussion I managed to get him on-board again.
          </li>
          <li
            >FlirtAid ran out of free storage while storing user images on Day 1
            due to a surge in traffic. We dug through the internet and had to
            eventually set up an image compression into the system.</li
          >
        </ul>
      </div>
      <div class="image flex flex-col gap-2 items-center justify-center">
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667499954/personal-website/projects/flirtaid/dev.svg"
          alt=""
          class="w-1/2"
        />
        <p class="Subtext text-xs font-light">
          Iterations of the product from the initial version to the final
          version
        </p>
      </div>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">It's a Match!</h2>
      <p
        >Experts believe that the marketing of a product should start before its
        development begins and FlirtAid was a testament to it. To implement this
        in real-time, we created 3 primary marketing channels:</p
      >
      <ul class="list-decimal px-12">
        <li>Social Media (Instagram & LinkedIn Posts)</li>
        <li>YouTube Podcasts</li>
        <li>On-ground Promotion</li>
      </ul>
      <p
        >We decided to focus equally on all 3 initially and then eventually
        double down on the medium that was showing most promise. Through the
        course of 4 months we made multiple social media posts, we put up a
        podcast, and spent hours spreading the word on campus.</p
      >
      <div class="image flex flex-col gap-2 items-center justify-center">
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667499954/personal-website/projects/flirtaid/marketing.svg"
          alt=""
          class="md:w-3/4"
        />
        <p class="Subtext text-xs font-light"> Our marketing efforts</p>
      </div>
      <p
        >Our podcast was called “FlirtAid Originals”. The primary decision to
        make with podcasts is to decide its format. FlirtAid Originals was meant
        to educate the public on how to approach people of the opposite gender.
        We wanted to sensitise our audience to problems and expectations of the
        opposite gender, so that they can become better human beings and in-turn
        develop more meaningful relationships. After all, as soon as one moves
        away from the concepts of toxic masculinity and develops more empathy,
        they start finding love around them more easily. Check-out the first
        episode of FlirtAid Originals here:</p
      >
      <div class="md:mx-20 md:my-5 aspect-w-16 aspect-h-9">
        <iframe
          src="https://www.youtube.com/embed/7E0VdUNPS0I"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="mx-auto rounded-md"></iframe>
      </div>
    </div>
    <p
      >For our on-ground marketing efforts, we decided to go guerilla. We
      offered free photoshoots for people and if they were interested, we would
      create their dating profile for them on-spot. There were 2 major reasons
      for this strategy:</p
    >
    <ul class="list-disc px-12">
      <li
        >Everyone likes to get their pictures clicked and we reduced their
        decision fatigue by offering to click their photos for them and to
        upload it to their profiles too.</li
      >
      <li
        >We reduced the friction of account opening by doing it for them
        on-spot. This way they get into the action directly.</li
      >
    </ul>
    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">The Impact</h2>
      <p
        >FlirtAid ran for <strong>3 months</strong> and it garnered a lot of love
        and attention from our peers. It saw a total user count of <strong
          >721</strong
        > and an average daily usage of <strong>40+</strong> in 1.5 months of use.
        There were
        <strong>207 registered users</strong> on the platform and it boasted <strong
          >3 matches</strong
        > made.
      </p>
      <div class="image flex flex-col gap-2 items-center justify-center">
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667499954/personal-website/projects/flirtaid/impact.svg"
          alt=""
          class="md:w-2/3"
        />
        <p class="Subtext text-xs font-light">
          FlirtAid's Impact across various channels
        </p>
      </div>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">Lessons & Takeaways</h2>
      <p
        >There were a number of learnings I carried forward from Aggregate
        Terminal. Some of the key ones were:
      </p>
      <ul class="list-disc px-12">
        <li
          >The importance of reaching out to your users before beginning
          development</li
        >
        <li>Importance of common consensus while leading a team</li>
      </ul>
      <p
        >FlirtAid made me challenge those learnings and left me with some new
        ones.</p
      >
      <ol class="list-decimal px-12">
        <li
          ><strong>Leading a team:</strong> There are subtle differences in the way
          tech teams are managed compared to other verticals. Developers value their
          creative freedom over everything else, but it is very important to keep
          them aligned to the product’s vision and mission. This is where the concept
          of maintaining a common consensus was challenged. Do you get a veto when
          it comes to these decisions or do you concede to the demands of your team?
          The key to being a good leader is to do whichever the situation demands.
          One of the key issues with leading is that there are no set rules. You
          have to learn by doing and build a knack for it.
        </li>
        <li
          ><strong>Reaching out and talking to users:</strong> While aggregate terminal
          was an incredible product, we had never reached out to our users. You can
          build the greatest product ever and it will still be worthless if people
          who need it can’t access it. With FlirtAid, I followed the golden rules
          of entrepreneurship by reaching out to my users, taking feedback and implementing
          it with pace.
        </li>
        <li
          ><strong>Resourcefulness:</strong> Shipping a full-fledged app to the market
          requires more than just coding skills. You need to host your app on the
          internet, store user data and make sure that all of it is well-protected.
          These are services that suck out money from companies. Building, maintaining
          and scaling an app which was used by 100s of people on a daily basis without
          spending a penny was challenging.
        </li>
      </ol>
      <p
        >Even though FlirtAid was a huge success on-campus, it didn’t have the
        potential to become something bigger. There are more than 1500 dating
        apps across the world as of 2022, there is no scope for another in the
        market. FlirtAid was a fun project which acted as a medium for people to
        interact and learn the basics of consensual dating on campus. Once we
        had achieved our goals to a sizable extent, we signed off from playing
        cupid.
      </p>
    </div>
  </section>
</Layout>
