---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
import WebPageSchema from "../components/WebPageSchema.astro";
import { Image } from "astro:assets";

export const prerender = true;

const siteUrl = "https://prannaykedia.com";
const photographyUrl = new URL(Astro.url.pathname, siteUrl).href;

// Extract all image URLs from the page
const photographyImages = [
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667582659/personal-website/projects/photography/09.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667582938/personal-website/projects/photography/06.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581150/personal-website/projects/photography/05.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581150/personal-website/projects/photography/03.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581143/personal-website/projects/photography/02.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581150/personal-website/projects/photography/04.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581014/personal-website/projects/photography/16.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667583374/personal-website/projects/photography/08.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581019/personal-website/projects/photography/11.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581017/personal-website/projects/photography/13.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581020/personal-website/projects/photography/10.jpg",
  "https://res.cloudinary.com/dg24rzjez/image/upload/v1667581015/personal-website/projects/photography/15.jpg",
];
---

<Layout title="Photography | Prannay Kedia">
  <WebPageSchema
    title="Photography | Prannay Kedia"
    description="A collection of my photographs from the last 5 years. Includes product images to nature"
    url={photographyUrl}
    images={photographyImages}
  />

  <PageHeading>
    <h1>Photography</h1>
  </PageHeading>

  <section class="overflow-hidden text-gray-700">
    <div class="container px-5 py-2 mx-auto md:pt-12 md:px-32">
      <div class="flex flex-wrap -m-1 md:-m-2">
        <div class="flex flex-wrap w-1/2">
          <div class="w-1/2 p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667582659/personal-website/projects/photography/09.jpg"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667582938/personal-website/projects/photography/06.jpg"
            />
          </div>
          <div class="w-full p-1 md:p-2">
            <Image
              width={1000}
              height={760}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581150/personal-website/projects/photography/05.jpg"
            />
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="w-full p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581150/personal-website/projects/photography/03.jpg"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581143/personal-website/projects/photography/02.jpg"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581150/personal-website/projects/photography/04.jpg"
            />
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="w-1/2 p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581014/personal-website/projects/photography/16.jpg"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667583374/personal-website/projects/photography/08.jpg"
            />
          </div>
          <div class="w-full p-1 md:p-2">
            <Image
              width={2600}
              height={2800}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581019/personal-website/projects/photography/11.jpg"
            />
          </div>
        </div>
        <div class="flex flex-wrap w-1/2">
          <div class="w-full p-1 md:p-2">
            <Image
              width={2000}
              height={1500}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581017/personal-website/projects/photography/13.jpg"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581020/personal-website/projects/photography/10.jpg"
            />
          </div>
          <div class="w-1/2 p-1 md:p-2">
            <Image
              width={1000}
              height={700}
              quality="max"
              loading="lazy"
              format="jpg"
              alt="gallery"
              class="block object-cover object-center w-full h-full rounded-lg"
              src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667581015/personal-website/projects/photography/15.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
