---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { projects } from "../data/projects";
export const prerender = true;
---

<Layout title="About Me | Prannay Kedia">
  <PageHeading>
    <p>Selected</p>
    <p>Projects</p>
  </PageHeading>

  <main
    class="projects grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-16 lg:px-24 md:px-24 px-6 mt-20">
    {
      projects.map((project) => (
        <ProjectCard
          link={project.link}
          imageLink={project.imageLink}
          title={project.title}
          description={project.description}
        />
      ))
    }
  </main>
</Layout>
