---
import Layout from "../layouts/Layout.astro";
import PageHeading from "../components/PageHeading.astro";
---

<Layout title="About Me | Prannay Kedia">
  <PageHeading>
    <h1>About Me</h1>
  </PageHeading>

</Layout>
