---
import Layout from "../layouts/Layout.astro";
import PageHeading, { type Banner } from "../components/PageHeading.astro";
export const prerender = true;

const banner: Banner = {
  link: "https://writee.in",
  linkUrl: "www.writee.in",
  bannerImg:
    "https://res.cloudinary.com/dg24rzjez/image/upload/v1667590043/personal-website/writee/writee-banner.svg",
};
---

<Layout title="Writee AI | Prannay Kedia">
  <PageHeading banner={banner}>
    <h1
      >Whixic{" "}<br class="md:hidden" />Technologies{" "}<br
        class="md:hidden"
      />Pvt{" "}Ltd</h1
    >
  </PageHeading>

  <!-- TODO: Change content -->
  <section
    class="content mt-8 md:mt-16 lg:px-44 md:px-44 px-6 leading-7 font-normal text-base flex flex-col gap-8">
    <p class="intro">
      Writee AI, legally incorporated as Whixic Technologies Private Limited, is
      an AI-based copywriting platform built for marketers, founders and
      freelancers. Writee was incorporated on <strong>9th March 2022</strong>
       and it's my first start-up. In this article, I’ll take you through our
      story – from inception to acquisition.
    </p>
    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">What is Writee AI?</h2>
      <p>
        Writee AI is an AI-based writing assistant that helps people write more
        engaging content faster. In a world that is increasingly becoming
        digital, words are more important than ever. They are the foundation of
        communication, connection, and understanding. They have the power to
        build bridges and break down barriers. They can inspire and they can
        ignite. Yet, very few people have enough power over words to convey
        their messages let alone persuade others to follow them.
      </p>
      <p>
        With this thought in mind, Writee AI was born. Writee is not just
        another AI copywriter or a writing tool; it’s an enabler for people who
        want to write and express themselves. It’s a friend always at your
        disposal to help you write better, bolder, and faster. We aimed to
        create an assistant that empowers your words instead of replacing your
        thoughts.
      </p>
      <p>
        In just 1.5 years since Writee was conceptualized, it gained significant
        global traction. Writee was used by people from <strong
          >over 120 countries</strong
        >
         during its journey. The product saw <strong
          >over 15,000 unique visitors</strong
        > and
        <strong>generated 700,000 words</strong> of content for users in a short
        span of 4 months.
      </p>
      <p>
        At the time of acquisition, Writee had over <strong
          >1000 sign-ups</strong
        > demonstrating product-market fit. We had a steadily growing base with
        8-10 daily active users who loved the product. Although the overall user
        base was still small, the product showed great promise with the
        validation received from thousands of early adopters worldwide. The
        acquisition happened at a point when Writee was ready to scale and
        supercharge its growth. The acquisition resulted in a <strong
          >20x return on investment</strong
        > for the founders.
      </p>
      <div class="image flex flex-col gap-2 items-center justify-center">
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1698670039/personal-website/writee/writee-countries.png"
          alt="writee countries"
          class="md:h-72"
        />
        <p class="Subtext text-xs font-light"
          >Countries from which users visited Writee</p
        >
      </div>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">Incorporating Writee AI</h2>
      <p>
        On <strong>30th January 2022</strong>, 3 students from Jadavpur
        University were on a call at midnight discussing ideas that could
        revolutionise the world. It was apparent that they had an intense desire
        of starting-up. This was the third continuous day of discussion. Ideas
        from Neobanking and AI-powered investing to a social media for food
        bloggers, they had discussed it all.
      </p>
      <p>
        Having had the experience of building things in the past, we knew better
        than to jump head first into an idea without doing our due diligence.
        There was a detailed process followed while selecting the idea. The
        process was as follows:
      </p>
      <ol class="list-decimal px-12">
        <li
          ><strong>Try and estimate the barrier-to-entry in the market</strong>
           - Moderate barrier-to-entry is the sweet spot.</li
        >
        <li
          ><strong>Check out the competitors</strong> - If there is a clear
          monopoly avoid it, zero competition isn’t what we were looking for
          too.</li
        >
        <li
          ><strong>Come up with potential business models</strong> - Any high
          burn model wasn’t suitable.</li
        >
        <li
          ><strong>Evaluate if you could make it yourself</strong> - It is
          important to come up with a Minimum Viable Product with the founding
          team itself, so was it something we could build ourselves?</li
        >
      </ol>
      <p>
        We used this framework to sift through business ideas all night for 3
        consecutive nights. On the third night we came across the idea for an
        AI-content writer. Having an AI researcher in the team, we were
        intrigued with the concept of AI writing content for you. Here’s what we
        found when we went through our framework for selecting an idea:
      </p>
      <ol class="list-decimal px-12">
        <li
          >There were multiple competitors in the industry but there wasn’t a
          clear monopoly.</li
        >
        <li
          >It was a relatively lower barrier-to-entry market with the quality of
          product increasing with the number of users.</li
        >
        <li
          >There was a clear subscription model visible with a possibility of
          revenue led growth.</li
        >
        <li
          >We had the technical expertise to build the initial versions of the
          product in the team itself.</li
        >
      </ol>
      <p>
        An AI-Copywriter passed all our test parameters. This sealed the deal
        for Writee AI. It was now time to incorporate our company. Little did we
        know, this is a tedious process with little to no information on the
        internet. While the government has simplified a lot of the archaic
        systems, ease of doing business is still far from reality in India.
        There are a number of formalities to be completed, from getting digital
        signatures for the directors to drafting a memorandum of association, it
        is next to impossible to do it by yourself. This is when we started
        scouting for agencies. We had meetings with 5 chartered accountants, and
        after being given outrageous quotations, we fixed our service provider
        and the process began. After 3 tenacious weeks, <strong
          >Whixic Technologies Private Limited</strong
        > was officially registered with the Government of India on 9th March
        2022.
      </p>
      <div class="flex flex-col md:flex-row gap-2">
        <div class="image flex flex-col gap-2 items-center justify-center">
          <img
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667591370/personal-website/writee/bank-papers.png"
            alt=""
            class="md:h-72"
          />
          <p class="subtext text-center text-xs font-light"
            >Signing Board Resolutions on college ground for opening Company's
            Bank Accounts</p
          >
        </div>
        <div class="image flex flex-col gap-2 items-center justify-center">
          <img
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667591370/personal-website/writee/meeting.png"
            alt=""
            class="md:h-72"
          />
          <p class="Subtext text-xs font-light"
            >Board Meeting in College Classroom discussing future plan</p
          >
        </div>
      </div>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">The Initial Development</h2>
      <p>
        In an effort to "move fast", we launched a one-page prototype to test
        out our thesis and learn more about industry needs from potential users.
        The prototype was as simple as it could get but it helped us validate
        the potency of our idea.
      </p>
      <div class="image flex flex-col gap-2 items-center justify-center">
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667591370/personal-website/writee/vTest.png"
          alt=""
          class="md:w-2/3"
        />
        <p class="Subtext text-xs font-light"
          >First version of Writee AI - a single page form</p
        >
      </div>
      <p>
        Having performed all the required inceptive tests, we started working on
        our Minimal Viable Product (MVP). After weeks of meetings, potential
        client calls, and research, we narrowed down our MVP to a simple tool
        which would let users generate blogs, captions, and quotes. Our research
        showed that long-form content such as blogs are what most users struggle
        with while captions are things users need on a day-to-day basis for
        social media posts.
      </p>
      <div class="flex flex-col md:flex-row gap-2">
        <div
          class="image flex flex-col gap-2 items-center justify-center basis-3/5">
          <img
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667591370/personal-website/writee/MVP.png"
            alt=""
            class=""
          />
          <p class="Subtext text-xs font-light"
            >Minimum Viable Product to test for market validation</p
          >
        </div>
        <div
          class="image flex flex-col gap-2 items-center justify-center basis-2/5">
          <img
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667591370/personal-website/writee/generating-content.png"
            alt=""
            class="md:h-80"
          />
          <p class="Subtext text-xs font-light"
            >Using Writee to generate content for Internship Report</p
          >
        </div>
      </div>
      <p>
        There was a secondary objective of our MVP - fine-tuning our LLM to
        perform better. AI becomes better as more data is fed into it. With this
        in mind, we needed relevant and real-life content to train and optimise
        our model to be more performant and precise. With the beta running for
        <strong>3+ months</strong>, Writee wrote more than <strong
          >1,72,000 words</strong
        > for <strong>100+ users</strong>. This gave us enough data to come up
        with accurate insights into the needs of our users and to fine-tune our
        model.
      </p>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold"
        >Why We Bootstrapped Instead of Fundraising</h2
      >
      <p>
        As college students, we intentionally avoided external funding in
        Writee's early days. There are a lot of traditionally cool reasons to do
        so, but there were 2 primary drivers for us -
      </p>
      <ol class="list-decimal px-12">
        <li
          ><strong>We were students.</strong> Dropping out of college was not on
          the table and thus we had limited time and resources to focus on
          growing Writee, so taking outside funding would have meant we were
          cheating investors out of their money. It is important to respect the
          external capital and work diligently to build a business that can
          return capital and more.
        </li>
        <li
          >The second driver was <strong>the need for capital</strong>. I very
          deeply believe that a lot of businesses running behind VC money could
          build to a certain extent without any external capital. It is
          important to build the habit of frugality in the early days and to
          demonstrate an ability to build without capital support. In a lot of
          SaaS businesses, capital is needed to scale operations. This doesn't
          stop an entrepreneur from bootstrapping operations in the early days
          and growing organically so that they can attract capital when needed.
          Albeit there are some industries where even building a prototype
          without funding is impossible, I wasn't in that industry.</li
        >
      </ol>
      <p>
        Apart from that, we also wanted to go at the challenge ourselves first.
        We were 19-year-old kids who had not a single working experience and we
        wanted to prove that we could do it. It is often important to make
        mistakes at the beginning so that you can grow and learn. Having the
        mind space to fail and fail miserably at that is very important for
        someone who's still learning the ropes. Building a company without
        spending a single penny taught us lessons we'll never forget. The most
        important lesson was that the <strong
          >success of a company is not determined by the amount of money</strong
        > you spend, but instead how much effort and dedication you put into it.
      </p>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">More Development</h2>
      <p>
        In a moderately competitive market there is just 1 thing that
        differentiates companies - Understanding of the market. There is a
        common saying that <span class="italic font-semibold"
          >if a market is crowded it means that it’s a market ripe for
          disruption</span
        >. There is no product out there that solves all of the user’s problems,
        hence there is no clear winner in the user’s eyes. This was the case
        with the AI Copywriting industry. We spent about 2 months talking to
        users, going through product reviews on websites like G2 and trustpilot,
        while studying relevant marketing trends. This built our philosophy for
        our final release. We had the necessary knowledge to finally bring our
        clients the product they were looking for.
      </p>
      <p>
        After this detailed market research, we got down to planning the product
        for our final release. Having learnt what the users needed, we set out
        to build the mightiest and juiciest product ever. We failed miserably in
        the first 2 weeks itself! We had set out to build a product which needed
        the power of an engineering team working full-time for 4+ months.
        Ambition is something which start-up founders are not bereft of. We
        sized up our expectations and chalked out an achievable plan of action.
        It did take more than 2 months to execute but we ended up with an
        incredible product we could ship.
      </p>
      <div class="flex flex-col md:flex-row gap-2 items-center justify-center">
        <div class="image flex flex-col gap-2 items-center justify-center">
          <img
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1698672024/personal-website/writee/dashboard_pl9ice.png"
            alt=""
          />
          <p class="Subtext text-xs font-light">Dashboard of Writee AI</p>
        </div>
        <div class="image flex flex-col gap-2 items-center justify-center">
          <img
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1698672305/personal-website/writee/writee-doc-editor_vrhvyq.png"
            alt="doc editor"
            class="w-[2000px] h-full"
          />
          <p class="Subtext text-xs font-light"
            >Writee's Flagship Document Editor</p
          >
        </div>
      </div>
      <p>
        It was during this time that AppSumo, one of the leading product
        marketplaces in the US, reached out to me. They had a special program
        called AppSumo Select where they market your product on their platform
        and social for a commission on every sale through them. It was a great
        opportunity. There were some kinks to be ironed out but our meeting went
        well, they were excited and we were excited too. But the deal fell
        through. Writee's landing page hadn't been updated in a while, and it
        undersold the level of services we were offering at the time. Being a 2
        member team, we were so focused on building the product that we forgot
        to update the landing page. A senior member from the AppSumo team
        reached out to us, and let us know that this was the main reason for
        them not working with us. They assumed, even though we had an amazing
        product, that the level of services that we were providing was low. This
        was a big lesson for us - Your projection of the world is more important
        than what you are actually doing. what you are actually doing. We needed
        to make sure that our messaging, website and services were all up to
        date and in line with what we were offering. I spent sleepless nights
        creating the most beautiful landing page I'd seen. I crafted every
        graphic, every text and every animation myself. This landing page
        converted more users than ever before and we reached thousands of people
        all over the world.
      </p>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold"
        >Sales & Marketing at Writee</h2
      >
      <p>
        Writee AI came out of beta on <strong>27th November 2022</strong>, with
        the launch of our powerful writing assistant. It was now time to start
        selling the product to potential clients. We decided on a freemium
        model, where users could try out the core offerings of the product and
        also receive 2,000 words to generate using AI. Our marketing channel of
        choice was Search Engine Optimisation. Being bootstrapped college
        students, we were working on a very tight budget - thus <strong
          >organic sources of traffic</strong
        > were the only way to go. Any form of online advertisement was too
        expensive and social media marketing helped more in top-of-the-funnel
        marketing which isn't the most optimised traffic source for an
        early-stage firm. Apart from that, our product was targetting small and
        medium-sized businesses, thus the only social media with an engaged
        target audience for us was LinkedIn. For this, I started working on
        creating a personal brand - which is also the reason for this website. I
        wasn't successful enough in creating a brand that converts, but the
        journey was fun. <strong>That left us with SEO.</strong> Traffic from
        search results can fall into any part of the funnel and a long-term SEO
        plan focuses on capturing traffic for all levels of intent to create as
        many touchpoints with a potential user pre-sign up as possible. While
        SEO doesn't show a 10-20x increase in the number of visits immediately,
        a consistent plan does show an appreciable increase regularly.
      </p>

      <div class="image flex flex-col gap-2 items-center justify-center">
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1698672307/personal-website/writee/presenting-writee_lgl9ea.jpg"
          alt="presenting writee"
          class="md:w-2/3"
        />
        <p class="Subtext text-xs font-light"
          >Presenting Writee at Bengal Global Business Summit</p
        >
      </div>

      <p>
        Now that we had zeroed in on SEO as our go-to channel, it was time to
        get down to planning. Things got a little complicated here. No one in my
        team had experience in this field and it is one of those fields that is
        filled with incorrect and misleading information. I spent 3 to 4 weeks
        going into the nitty gritty of SEO, creating detailed notes, reading
        blog posts and understanding concepts. (You can check out my notes on
        SEO here). Getting the knowledge was not the end of it. To effectively
        create and implement an SEO plan, you need access to expensive tools for
        research. Some of the tool's monthly subscriptions cost more than what
        we spent in 6 months. We had to figure out a way to circumvent the need
        for these tools.
      </p>
      <p>
        This is where an idea struck me, it's one of the ideas I am most proud
        of (more so than the acquisition too perhaps). Competitor analysis is a
        big part of any marketing plan, SEO was no different. The problem with
        manually doing market research in SEO is that content (read blogs) is
        the driver for almost all SEO activity. It is impossible to scour
        through blog after blog to understand common trends. But, I am a
        developer and I've spent a considerable amount of my time building bots
        and scrapers for the bedrock of India's Financial System - the Bombay
        Stock Exchange. I picked up the top products in my category and created
        scrapers that not only scraped all the blog headings but also scraped
        the entire content of the blog. I had <strong
          >200+ blogs from 5 different companies</strong
        > in an Excel sheet ready for analysis. I then used some of my machine
        learning knowledge to run a couple of models to get the keywords used
        commonly, reoccurring trends, sentiment analysis and so on. This formed
        the bedrock of my SEO plan which increased our traffic from 4-5 visitors
        a week to <strong>50-70 visitors a week in 2 months</strong>. The
        approach might seem unconventional or even borderline wrong, but not a
        single word in my blogs was plagiarised. I had to come up with a scrappy
        and cost-effective way to create my SEO plan, and this forms the essence
        of early-stage entrepreneurship where resources are limited and problems
        are abundant.
      </p>
      <div class="flex flex-col md:flex-row gap-2 items-center justify-center">
        <div class="image flex flex-col gap-2 items-center justify-center">
          <img
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1698671766/personal-website/writee/search-console-ss-2_ot6yxc.png"
            alt="impressions"
          />
          <p class="Subtext text-xs font-light"
            >Exponential increase in impressions on Google Search Console</p
          >
        </div>
        <div class="image flex flex-col gap-2 items-center justify-center">
          <img
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1698671766/personal-website/writee/search-console-ss_p7gixt.png"
            alt="impression and clicks"
          />
          <p class="Subtext text-xs font-light"
            >Simultaneous increase in impressions and clicks</p
          >
        </div>
      </div>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">Product Hunt Launch</h2>
      <p
        >The product hunt launch of Writee is one of those stories where the
        good systems and processes that you set up when no one was watching help
        you not just to survive but thrive and conquer. I'll be honest, I was
        not planning on a product hunt launch. The manpower and manhours
        required for a typical PH Launch far outweigh the benefits from it. A
        typical product hunt user is an early adopter in the sense that they
        will register and try out every product that launches, but they will
        rarely stick to any of them. I am myself guilty of doing this on product
        hunt a number of times. While this is good for generating awareness for
        the product and getting some traffic, it isn't very useful for building
        a paying user base. Being bootstrapped and college students, it was
        important for us to prioritise our efforts.</p
      >

      <p>
        Having said all of it, for some reason, on a random Sunday, I decided to
        launch on Product Hunt. I have absolutely no idea what ticked in my
        head, but I did it anyway. I knew the basic strategies to optimise a
        launch from some research I did a couple of months prior but I was in no
        way an expert. One insight for anyone who just wants a PH badge and is
        not very concerned about the traffic - launch on a weekend. The bigger
        players with deeper pockets typically launch on weekdays and the
        competition is more fierce. Things are easier on a weekend. As soon as
        my product was live on PH, I went into a message overdrive. I texted
        more people in that one day than I probably did in a month. I reached
        out to every connection, acquaintance and community that I was a part
        of. I made sure that the message was personal and clear. The response
        was overwhelming! Distant connections were reaching out to congratulate
        me and offer help. The power of community at work moved me more than the
        actual rank that we received.
      </p>

      <p>
        We ended the day with the <strong>Top 5 Product of the Day</strong>. We
        lost the 4th position but a single upvote, but nevertheless, receiving a
        badge from the product hunt was a surreal experience! In the process of
        reaching out to people, I also booked a couple of calls with VCs and
        potential clients. I wasn't looking to raise funds, but you do not say
        no to meetings with partners from Venture Capital firms. We also got
        featured in multiple newsletters including the world's largest
        newsletter - Superhuman.
      </p>

      <div class="image flex flex-col gap-2 items-center justify-center">
        <img
          src="https://res.cloudinary.com/dg24rzjez/image/upload/v1698672136/personal-website/writee/product-hunt-launch_p2eitv.png"
          alt="ph launch"
          class="md:w-2/3"
        />
        <p class="Subtext text-xs font-light">Product Hunt Launch Page</p>
      </div>
    </div>

    <div class="section flex flex-col gap-4">
      <h2 class="heading text-2xl font-extrabold">Acquired?</h2>

      <p
        >ChatGPT, from OpenAI, launched in December 2022 and it took the world
        by storm. It in a matter of days became the fastest growing consumer app
        in history. ChatGPT made AI accessible to the masses and as luck had it,
        the world caught on to the impact that an AI can create in the
        workforce. AI as a field has always seen tremendous research interests
        but not as much commercial interest. Before December 2022, there were
        just a handful of pure AI companies, most companies either used AI to
        optimise their internal functions or had AI in some part of their
        product implementation. Artificial Intelligence as a service (or core
        offering) was relatively much rarer. After the announcement of ChatGPT,
        a gold rush began. Given how powerful the technology was, people thought
        that just about anyone could make a fortune with the power of AI. The
        gold rush brought in hundreds of investors and entrepreneurs, eager to
        make a quick buck off the new technology. This crowded the market and
        made it almost impossible for users to separate the wheat from the
        chaff.
      </p>

      <p>
        The absence of VC funding and a frugal approach almost ensured that we
        could wither the storm but just because you can survive does not mean
        that you should. Writee, in early 2022, was an innovative product that
        solved a very specific and pertinent problem. Writee, in mid-2023, had,
        in the eyes of AI-hyped users, become yet another AI tool that could do
        magic. Artificial Intelligence is the future of our world. It will
        drastically change the way we live our lives, but the point of any
        technological advancement is to solve a specific problem. Using AI, for
        the sake of using it, can lead to added complexity which is what most AI
        platforms have started doing.
      </p>

      <p>
        As a 20-year-old, I preferred would prefer working in an industry with
        tailwinds and not one with a never-ending storm. With all of this in
        mind, around the end of April 2023, we decided that it was now time for
        us to EXIT. I've gone into a lot more detail regarding the acquisition
        process in my blogs but to summarise, it took us about 3 months to find
        a buyer we'd be comfortable handing over Writee to. We closed the deal
        rather quickly and on one fine evening in July, I was no longer the
        owner of Writee.
      </p>

      <p>
        The experience of parting with a company you built is always intense,
        but the intensity is a lot more when that experience taught you more
        than most things in life. In the one and half years at Writee, I
        developed the utmost patience for situations, gained a deeper
        appreciation for uncertainty and volatility, and learned how to balance
        my ambitions against the reality of a new venture.
      </p>
    </div>
  </section>
</Layout>
