---
import { Image } from "astro:assets";

interface Props {
  slug: string | undefined;
  date: string | undefined | null;
  image: string | undefined | null;
  title: string | undefined;
  excerpt: string | undefined;
}

function truncateString(str: string, num: number): string {
  if (str.length <= num) {
    return str;
  } else {
    return str.substring(0, num) + "...";
  }
}

const { slug, date, image } = Astro.props as Props;
let { title = "", excerpt = "" } = Astro.props as Props;

excerpt = truncateString(excerpt, 150);
title = truncateString(title, 50);
---

<a href={"/blog/" + slug} class="flex flex-col gap-4">
  <Image
    transition:name={slug}
    width={2400}
    height={1000}
    alt={title}
    class="h-auto w-76 rounded-xl card hover:shadow-xl"
    src={image || ""}
  />
  <div class="pl-1 text-center md:text-start">
    <p class="text-gray-500 font-normal md:font-medium text-xs">
      {
        new Date(date || "18/11/2002").toLocaleDateString(undefined, {
          year: "numeric",
          month: "long",
          day: "2-digit",
        })
      }
    </p>
    <h1 class="text-xl font-bold pt-2">
      {title}
    </h1>
    <p class="font-light text-xs pt-1">
      {excerpt}
    </p>
  </div>
</a>
