<section id="empty-state" class="flex flex-col items-center justify-center">
  <img
    src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667496959/personal-website/blog-coming-soon.svg"
    alt=""
    class="w-1/2"
  />
  <h3 class="text-center text-2xl md:text-3xl font-bold"
    >Coming <br class="md:hidden" />Soon....</h3
  >
</section>
