<section
  class="contact-me md:px-24 px-6 mt-24 flex flex-col items-center justify-center gap-5">
  <div class="flex items-center justify-center gap-8">
    <hr class="w-12 md:w-48 h-2 rounded-full bg-black" />
    <div class="text-center text-2xl md:text-4xl font-extrabold">
      <slot />
    </div>
    <hr class="w-12 md:w-48 h-2 rounded-full bg-black" />
  </div>
  <div class="details flex flex-col justify-center items-center gap-3">
    <div class="flex gap-4 items-center">
      <img
        src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667496959/personal-website/gmail-icon.svg"
        class="h-6 w-6 md:h-8 md:w-8"
        alt=""
      />
      <p class="font-light text-md md:text-lg">prannaykedia1@gmail.com</p>
    </div>
    <div class="flex gap-4 items-center">
      <img
        src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667496959/personal-website/phone-icon.svg"
        alt=""
        class="h-6 w-6 md:h-8 md:w-8"
      />
      <p class="font-light text-md md:text-lg">+91 85840 11454</p>
    </div>
  </div>
</section>
