<section class="heading flex flex-col items-center justify-center mt-12">
  <div class="flex items-center justify-center gap-8">
    <hr class="w-12 md:w-48 h-2 rounded-full bg-black" />
    <div class="text-center text-4xl font-extrabold">
      <slot />
    </div>
    <hr class="w-12 md:w-48 h-2 rounded-full bg-black" />
  </div>
</section>
