---
import { Image } from "astro:assets";
export interface Banner {
  link: string;
  linkUrl: string;
  bannerImg: string;
}

interface Props {
  banner?: Banner | null;
}

const { banner = null } = Astro.props as Props;
---

<section
  class="heading flex flex-col items-center justify-center mt-8 md:mt-12">
  <div class="flex items-center justify-center gap-4 md:gap-8">
    <hr class="w-12 md:w-48 h-2 rounded-full bg-black" />
    <div class="text-center text-2xl md:text-4xl font-extrabold">
      <slot />
    </div>
    <hr class="w-12 md:w-48 h-2 rounded-full bg-black" />
  </div>

  {
    banner && (
      <>
        <a
          href={banner.link}
          class="flex gap-2 mt-2 items-center italic hover:text-indigo-900"
          target="_blank">
          <p class="font-extralight">{banner.linkUrl}</p>
          <Image
            width={200}
            height={200}
            format="webp"
            src="https://res.cloudinary.com/dg24rzjez/image/upload/v1667496959/personal-website/gotoarrow.svg"
            class="h-3 w-3"
            alt="go to arrow"
          />
        </a>
        <section class="banner mt-8">
          <Image
            width={5000}
            height={1000}
            format="webp"
            src={banner.bannerImg}
            class="w-screen"
            alt="banner image"
          />
        </section>
      </>
    )
  }
</section>
