---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Analytics from "../components/Analytics.astro";
import Footer from "../components/Footer.astro";
import MetaTags, { type MetaProps } from "../components/MetaTags.astro";
import Nav from "../components/Nav.astro";
import { ViewTransitions } from "astro:transitions";
import { NODE_ENV } from "astro:env/server";

export interface Props {
  title?: string;
  metaData?: MetaProps;
  isNav?: boolean;
}

const { title = "Prannay Kedia", isNav = true } = Astro.props as Props;

let { metaData } = Astro.props as Props;

if (metaData === undefined) {
  metaData = {
    title: "Prannay Kedia",
    description:
      "Ex-Founder of Writee AI and a finance afficiandado - here's the story of Prannay Kedia, a chemical engineering undergrad at Jadavpur University.",
    image:
      "https://res.cloudinary.com/dg24rzjez/image/upload/v1667652495/personal-website/meta-image.svg",
    url: "https://prannaykedia.com/",
  };
}
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <title>{title}</title>

    <ViewTransitions />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    />
    <link rel="icon" type="image/ico" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <style is:global>
      :root {
        font-family: "Montserrat", sans-serif;
      }
    </style>

    {NODE_ENV !== "development" && <Analytics partytown={false} />}

    <MetaTags {...metaData} />
  </head>

  <body class="bg-background">
    {isNav && <Nav />}
    <slot />
    <Footer />
  </body></html
>
